<!DOCTYPEhtml>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/inputmask/inputmask.min.js"></script>
    <script src="~/Scripts/inputmask/jquery.inputmask.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  </head>
     <body ng-app="contatos">

         @RenderBody()
         @Scripts.Render("~/bundles/angular")
         @Scripts.Render("~/bundles/jquery")
         @Scripts.Render("~/bundles/inputmask")
         @Scripts.Render("~/bundles/bootstrap")
         @RenderSection("scripts", required: false)

         <script src="~/lib/jQuery-Mask-Plugin-master/src/jquery.mask.js" type="text/javascript" asp-append-versio="true"></script>

     </body>
</html>
